
.thumbnail{text-align:left;

width:4px;
height:30px;}
//.thumbnail:hover{
width:40px;
height:60px;
}


li{
display:inline;

padding:20px;

padding-left:20px;

text-decoration:none;

text-align:right;
}
li:hover{
color:red;
}
ul{
text-align:right;
//background-color:white;
}
.productone{
border-radius:10px;
//background-color:black;
//text-color:white;
display:inline;
}
.producttwo{
border-radius:10px;
display:inline;

}
.productthree{
border-radius:10px;
display:inline;
}
img{
width:40px;
height:60px;
}
img:hover{
width:80px;
height:90px;
border-radius:100px;
}
form{
display:inline;
}
//footer{
padding:50px;
text-align:center;
background-color:black;
text-color:white;
font-color:white;
}
footer:hover{
font-size:50px;
}
