


ul{
text-align:right;
margin:0px;




}

.nav{


text-align:right;
margin-top:0px;


}





li{

display:inline;

padding:20px;

padding-left:20px;

text-decoration:none;

text-align:right;

color:black;

}


li:hover{
color:red;
}



h1{
font-size:20px;


}



.products{

padding:40px;



}